:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;

    --header-height:120px;
    --header-nav-height:40px;
}


* {
    box-sizing: inherit;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

@keyframes modal-move {
    from {
        opacity: 0;
        transform: translateY(100);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes HeaderNotify {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* ------------------ Modal Facebook Instagram ------------------*/
.modal-facebook {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-instagram {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    width: 900px;
    height: 300px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    z-index: 100;
    animation: modal-move linear 0.5s;
}

.modal-container__header-facebook {
    position: relative;
    height: 120px;
    background-image: url('./img/red-blue-facebook-background-baqebbr8yt58uaa3.jpg');
    text-align: center;
    font-size: 2rem;
    color: var(--white-color);
}

.modal-container__header-instagram {
    position: relative;
    height: 120px;
    background-image: url('./img/gradient-background-instagram-free-vector.jpg');
    text-align: center;
    font-size: 2rem;
    color: var(--white-color);
}

.modal-container__header-label-face {
    line-height: 120px;
    -webkit-user-select: none;
    user-select: none;
}

.modal-container__header-label-ins {
    line-height: 120px;
    -webkit-user-select: none;
    user-select: none;
    font-family: cursive;
}

.modal-container__header-icon {
    position: absolute;
    font-size: 2.6rem;
    top: 0;
    right: 0;
    padding: 8px 12px;
}

.modal-container__header-icon:hover {
    background-color: var(--black-color);
    cursor: pointer;
}

.modal-container__body {
    padding: 20px;
    text-align: center;
}

.modal-container__body-input {
    text-align: center;
}

.modal-container__body-input input {
    padding: 4px;
    font-size: 1.6rem;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

.input-gmail__label{
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 71px;
}

.input-password__label{
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 30px;
}

.modal-container__body-btn {
    min-width: 140px;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #02408b;
}

.modal-container__body-btn2 {
    min-width: 140px;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #854ae4;
}

.modal-container__body-btn:hover {
    background-color: #215ba2;
}

.modal-container__body-btn2:hover {
    background-color: #ac82ef;
}


/* ------------------ Modal Đăng ký/Đăng nhập ------------------*/
.modal-register {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-login {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container-register {
    display: block;
    width: 900px;
    height: 380px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    z-index: 100;
    animation: modal-move linear 0.5s;
}

.modal-container-login {
    display: block;
    width: 900px;
    height: 300px;
    margin: auto;
    background-color: var(--white-color);
    border-radius: 10px;
    overflow: hidden;
    z-index: 100;
    animation: modal-move linear 0.5s;
}

.modal-container__header-register {
    position: relative;
    height: 120px;
    background-image: linear-gradient(0, #1bc44c, #68e386);
    text-align: center;
    font-size: 2rem;
    color: var(--white-color);
}

.modal-container__header-login {
    position: relative;
    height: 120px;
    background-image: linear-gradient(0, #1bc44c, #68e386);
    text-align: center;
    font-size: 2rem;
    color: var(--white-color);
}

.modal-container__header-label-login,
.modal-container__header-label-register {
    -webkit-user-select: none;
    user-select: none;
    line-height: 120px;
}


.modal-container__header-icon {
    position: absolute;
    font-size: 2.6rem;
    top: 0;
    right: 0;
    padding: 8px 12px;
}

.modal-container__header-icon:hover {
    background-color: var(--black-color);
    cursor: pointer;
}

.modal-container__body-login,
.modal-container__body-register{
    padding: 20px 140px;
}

.modal-container__body-input-info {
    margin-bottom: 8px;
}

.body-input-name {
    float: left;
    width: 50%;
}

.body-input-name input {
    padding: 6px;
    width: 99%;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

.body-input-address input{
    padding: 6px;
    width: 50%;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

.body-input-repasswd input,
.body-input-passwd input,
.body-input-phone input{
    width: 100%;
    padding: 6px;   
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}

.modal-container__body-btn3 {
    float: right;
    min-width: 140px;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #10b640;
}

.modal-container__body-btn4:hover,
.modal-container__body-btn3:hover {
    background-color: #41cc68;
}

.modal-container__body-btn4 {
    min-width: 140px;
    padding: 12px 34px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #10b640;
}

.modal-container__body-btn4:hover {
    background-color: #41cc68;
}

.input-gmail__label-login {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 34px;
}

.input-password__label-login {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-right: 65px;
}
